:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

  .mat-nav-list {
    margin-bottom: 20px;
  }

  .active {
    background: rgba(0, 0, 0, 0.1);
  }

  div.header > h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  div.header > h4 {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .menu-header {
    font-size: 16px;
    font-weight: bold;
  }

  .sub-menu-header {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  }

  .sub-menu-icon {
    margin-right: 5px;
  }

  .sub-menu-item {
    margin-left: 30px;
    font-size: 14.5px;
  }

  .mat-list-item {
    height: 34px;
  }
}
