<div class="chart-row">

  <div class="chart-wrapper">
      <canvas baseChart 
          [datasets]="stepsChartData" 
          [labels]="stepsChartLabels" 
          [options]="stepsChartOptions"
          [colors]="stepsChartColors" 
          [legend]="stepsChartLegend" 
          [chartType]="stepsChartType" 
          [plugins]="stepsChartPlugins">
      </canvas>
  </div>

  <div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="caloriesChartData" 
        [labels]="caloriesChartLabels" 
        [options]="caloriesChartOptions"
        [colors]="caloriesChartColors" 
        [legend]="caloriesChartLegend" 
        [chartType]="caloriesChartType" 
        [plugins]="caloriesChartPlugins">
    </canvas>
  </div>

</div>

<div class="chart-row">

  <div class="chart-wrapper">
      <canvas baseChart 
          [datasets]="readinessesChartData" 
          [labels]="readinessesChartLabels" 
          [options]="readinessesChartOptions"
          [colors]="readinessesChartColors" 
          [legend]="readinessesChartLegend" 
          [chartType]="readinessesChartType" 
          [plugins]="readinessesChartPlugins">
      </canvas>
  </div>

  <div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="sleepChartData" 
        [labels]="sleepChartLabels" 
        [options]="sleepChartOptions"
        [colors]="sleepChartColors" 
        [legend]="sleepChartLegend" 
        [chartType]="sleepChartType" 
        [plugins]="sleepChartPlugins">
    </canvas>
    
</div>