<div fxFlex="100">
  <div class="mat-elevation-z8">
    <table mat-table matSort matSortActive="code" matSortDirection="asc" [dataSource]="dataSource">

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="therapist">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Therapist </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ (user.therapist) ? user.therapist : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="organizations">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Organizations </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ (user.organizations) ? user.organizations.join(', ') : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="studies">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Studies </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ (user.studies) ? user.studies.join(', ') : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sites">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sites </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ (user.sites) ? user.sites.join(', ') : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groups">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Groups </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ (user.groups) ? user.groups.join(', ') : ''}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="psychologicalReports">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reports </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.psychologicalReports }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getParticipantReports(row.code)"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>
