<div class="chart-row">

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="ageChartData" 
            [labels]="ageChartLabels" 
            [options]="ageChartOptions"
            [colors]="ageChartColors" 
            [legend]="ageChartLegend" 
            [chartType]="ageChartType" 
            [plugins]="ageChartPlugins">
        </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="yearsAtWorkChartData" 
            [labels]="yearsAtWorkChartLabels" 
            [options]="yearsAtWorkChartOptions"
            [colors]="yearsAtWorkChartColors" 
            [legend]="yearsAtWorkChartLegend" 
            [chartType]="yearsAtWorkChartType" 
            [plugins]="yearsAtWorkChartPlugins">
        </canvas>
    </div>

</div>

<br>
<br>
<br>

<div class="chart-row">

    <div class="chart-wrapper"> 
        <canvas baseChart 
        [datasets]="maritalStatusChartData"
        [labels]="maritalStatusChartLabels"
        [chartType]="maritalStatusChartType"
        [options]="maritalStatusChartOptions"
        [colors]="maritalStatusChartColors" 
        [plugins]="maritalStatusChartPlugins"
        [legend]="maritalStatusChartLegend">
      </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="educationChartData"
        [labels]="educationChartLabels"
        [chartType]="educationChartType"
        [options]="educationChartOptions"
        [colors]="educationChartColors" 
        [plugins]="educationChartPlugins"
        [legend]="educationChartLegend">
      </canvas>
    </div>

</div>

<br>
<br>
<br>

