<div class="chart-row">

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="careerSatisfactionChartData" 
            [labels]="careerSatisfactionChartLabels" 
            [options]="careerSatisfactionChartOptions"
            [colors]="careerSatisfactionChartColors" 
            [legend]="careerSatisfactionChartLegend" 
            [chartType]="careerSatisfactionChartType" 
            [plugins]="careerSatisfactionChartPlugins">
        </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="psychologicalHealthChartData" 
            [labels]="psychologicalHealthChartLabels" 
            [options]="psychologicalHealthChartOptions"
            [colors]="psychologicalHealthChartColors" 
            [legend]="psychologicalHealthChartLegend" 
            [chartType]="psychologicalHealthChartType" 
            [plugins]="psychologicalHealthChartPlugins">
        </canvas>
    </div>

</div>

<br>
<br>
<br>

<div class="chart-row">

    <div class="chart-wrapper"> 
        <canvas baseChart 
        [datasets]="depressionChartData"
        [labels]="depressionChartLabels"
        [chartType]="depressionChartType"
        [options]="depressionChartOptions"
        [colors]="depressionChartColors" 
        [plugins]="depressionChartPlugins"
        [legend]="depressionChartLegend">
      </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="sleepProblemChartData"
        [labels]="sleepProblemChartLabels"
        [chartType]="sleepProblemChartType"
        [options]="sleepProblemChartOptions"
        [colors]="sleepProblemChartColors" 
        [plugins]="sleepProblemChartPlugins"
        [legend]="sleepProblemChartLegend">
      </canvas>
    </div>

</div>

<br>
<br>
<br>