<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Sidebar Toggle  -->
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Brand -->
    <a class="branding" routerLink="/">
      <img src="/assets/coadapt-profile-logo-white.png" alt="COADAPT Logo" height="50">
      <span class="brand-text">
        Human and Workstation Adaptation
        <br>Support to Aging Citizens
      </span>
    </a>
    <!-- User Options -->
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>assignment</mat-icon>Audit Log
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
