<mat-card>
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="inputs" fxfill fxlayout="collumn" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="userName" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
    </div>

    <div dir="rtl">
      <button mat-raised-button color="primary" [disabled]="loading" type="submit">Create</button>
      <a class="cancel-button" mat-raised-button routerLink="/sub-administrators">Cancel</a>
    </div>
    <p fxfill fxlayout="column" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;" *ngIf="error" class="error">{{ error }}</p>
  </form>
</mat-card>
